* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: brown;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #007BFF;
    color: blanchedalmond;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}



li {
    background: #f9f9f9;
    padding: 10px;    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

li .actions {
    display: flex;
    gap: 10px;
}

li .actions button {
    padding: 5px;
    cursor: pointer;
}

li .actions .edit {
    background: #ffc107;
    color: white;
}

li .actions .delete {
    background: #dc3545;
    color: white;
}